<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Create New Student </h1>
				<div class = "card-body">
				<div th:if="${session.message}" th:classappend="${session.message}" class="alert alert-success"
                 role="alert">
                <p th:text="${#session.message}"></p>
                <th:block text="${#session.removeAttribute('message')}"></th:block>
                </div>
					<form th:action="@{/students}" th:object = "${student}" method="POST">
						<div class ="form-group">
							<label> Student First Name </label>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter Student First Name" />
							<p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    </div>
                   
						
						<div class ="form-group">
							<label> Student Last Name </label>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter Student Last Name" 
							/>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
						</div>
						
						<div class ="form-group">
							<label> Student Email </label>
							<input
							type = "text"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Student Email" 
							/>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
						</div>
						
						<div class ="form-group">
							<label> Student DOB </label>
							<input
							type = "text"
							name = "DOB"
							th:field = "*{DOB}"
							class = "form-control"
							placeholder="Enter Date of Birth" 
							/>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('DOB')}" th:errors="*{DOB}">
						</div>
						<div class ="form-group">
							<label> Student Phone_no </label>
							<input
							type = "text"
							name = "Phone"
							th:field = "*{Phone}"
							class = "form-control"
							placeholder="Enter Student Phone_no" 
							/>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('Phone')}" th:errors="*{Phone}">
						</div>
						
						<div class ="form-group">
							<label> Student Department </label>
							<input
							type = "text"
							name = "dept"
							th:field = "*{dept}"
							class = "form-control"
							placeholder="Enter Department" 
							/>
							<p class="alert alert-danger" th:if="${#fields.hasErrors('dept')}" th:errors="*{dept}">
						</div>
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>